<form (ngSubmit)="onSubmit()">
  <div class="input-group">
    <p>
      <label for="initial-investment">Initial Investment </label>
      <input
        type="number"
        name="initial-investment"
        id="initial-investment"
        [(ngModel)]="enteredInitialInvestment"
      />
    </p>
    <p>
      <label for="annual-investment"> Annual Investment </label>
      <input
        type="text"
        name="annual-investment"
        id="annual-investment"
        [(ngModel)]="enteredAnnualInvestment"
      />
    </p>
  </div>
  <div class="input-group">
    <p>
      <label for="expected-return"> Expected reutrn </label>
      <input
        type="text"
        name="expected-return"
        id="expected-return"
        [(ngModel)]="enteredExpectedReturn"
      />
    </p>
    <p>
      <label for="duration"
        >Duration
        <input
          type="text"
          name="duration"
          id="duration"
          [(ngModel)]="enteredDuration"
      /></label>
    </p>
  </div>

  <button type="submit">CALCULATE</button>
</form>
